<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyFace">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
        <!-- To use multiple models: android:value="face,model2,model3" -->
        <activity
            android:name=".History"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:name=".ExpressionReading"
            android:exported="false"
            />
        <activity
            android:name=".PictureViewAndProcess"
            android:exported="false"
            />
        <activity
            android:name=".CameraMenu"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>